@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Kufam:ital,wght@0,400..900;1,400..900&family=Montserrat:wght@100..900&display=swap');

:root {
    --montserrat: "Montserrat", sans-serif;
    --krona: "Krona One", sans-serif;
    --kufam: "Kufam", sans-serif;
}

body {
    margin: 0;
  padding: 0;
    background-color: #D4D5DE;
    overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  height: 100%;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

.left-scrollable {
  width: 73%; 
  height: 100%;
  overflow-y: auto;
  padding-left: 1.4vh;
  padding-top: 1.3vh;
  padding-bottom: 2.6vh;
  padding-right: 0px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.hero-content {
  position: relative;
  width: 100%;
  max-width: 100%; /* Ограничиваем ширину контейнера */
  height: 57vh;
  margin: 0 auto; /* Центрируем контейнер */
  background-color: #F6F6F8;
  border-radius: 1vh;
}

.twokie-block {
  padding: 0vh 1.5vw;
  overflow: hidden;
}

.top-nav {
  position: absolute;
  top: 16px;
  right: 16px;
}

.top-nav button {
  background-color: #2D2D2D;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 23.5px;
  cursor: pointer;
}

.twokie-block h1 {
  width: 77%;
  font-family: var(--montserrat);
  font-size: clamp(4rem, 1.6696428571428572rem + 2.589285714285714vw, 5.8125rem);
  color: #2D2D2D;
  font-weight: 500;
  letter-spacing: -4%;
  line-height: 99%;
  margin-top: 0;
  margin-bottom: 8vh;
}

.twokie-block p {
  width: 45vw;;
  font-family: var(--montserrat);
  font-size: clamp(1.25rem, 0.5267857142857144rem + 0.8035714285714285vw, 1.8125rem);
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 500;
  padding-left: 0px;
  color: #2D2D2D;
  margin-bottom: 10vh;
}

.hero-content .twokie-block p {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.hero-content .twokie-block p.is-visible {
  opacity: 1;
}

.categories-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.category {
  width: 13vw;
  font-family: var(--montserrat);
  font-size: clamp(0.875rem, 0.1517857142857144rem + 0.8035714285714285vw, 1.4375rem);
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 500;
  padding-bottom: 1.5vh;
  color: #2D2D2D;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.category span {
  font-family: var(--montserrat);
  font-size: clamp(0.875rem, 0.1517857142857144rem + 0.8035714285714285vw, 1.4375rem);
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 500;
  color: #979797;
  display: inline-block;   
  width: 3vh;             
  text-align: left;        
  white-space: nowrap;
}

.category {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.category.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.knopki {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 11px;
}

.merge-btn-container {
  position: relative;
  display: inline-flex;
  justify-content: flex-end; 
  border-radius: 23.5px;
  overflow: hidden;
}

.icon-part-tw {
  width: 1vh;
  height: 1vh;
}

.icon-part,
.text-part {
  align-items:center;
  position: relative;
  z-index: 1;
}

.icon-part {
  width: 1vh;
  background: #2D2D2D;
  border-radius: 50%;
  padding: 1vh 0.9vh 0.69vh 1vh;
  margin-right: 0.2vw;
}

.text-part {
  text-decoration: none;
  margin: 0;
  align-items: center;
  font-family: var(--krona);
  font-size: clamp(0.875rem, 0.1517857142857144rem + 0.8035714285714285vw, 1.4375rem);
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: 0%;
  font-weight: 400;
  background-color: #2D2D2D;
  padding: 0.5vh 1.5vh 0vh 1.5vh;
  border-radius: 2vh;
}

/* Псевдоэлемент для анимации фона */
.merge-btn-container::before {
  margin: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0; /* Начинаем с правого края */
  width: 10vw; /* Двойная ширина для плавного перехода */
  height: 100%;
  background: linear-gradient(
    to left, /* Движение справа налево */
    #2D2D2D 0%,    /* Цвет фона частей */
    #2D2D2D 50%,
    transparent 50%,
    transparent 100%
  );
  z-index: 0;
  transition: transform 0.4s ease-out;
  transform: translateX(50%); /* Изначально сдвинут вправо */
}

/* При наведении — фон движется влево, объединяя части */
.merge-btn-container:hover::before {
  transform: translateX(0); /* Возвращаемся в исходное положение */
}

.services {
  position: relative;
  width: 100%;
  margin: 0 auto; /* Центрируем контейнер */
  border-radius: 10px;
}

.serv-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0; 
  margin-top: 2vh;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.serv-header.is-visible {
  opacity: 1;
}

.serv-zagolovok {
  display: flex;
  width: 92%;
  height: 9vh;
    align-items: center; /* Выравнивание по вертикали */
  justify-content: space-between;
  background-color: #E3E3E9;
  border-radius: 1vh;
}

.name {
  width: 20%;
  display: inline-block;
  padding-left: 2vh;
  font-family: var(--montserrat);
  font-size: clamp(1.25rem, 0.5267857142857144rem + 0.8035714285714285vw, 1.8125rem);;
  line-height: 113.9px;
  letter-spacing: -4%;
  font-weight: 500; 
  margin-right: 80px;
}

.cases-serv {
  width: 190px;
  font-family: var(--montserrat);
  font-size: clamp(0.875rem, 0.1517857142857144rem + 0.8035714285714285vw, 1.4375rem);;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 500;
  color: #2D2D2D;
  display: flex;
  align-items: center;
  gap: 10px; /* Расстояние между ссылками */
  margin-right: 18vh; /* Отступ справа от блока кейсов */
}

.cases-serv a {
  color: #2D2D2D;
}

.serv-kol {
  margin-left: 380.02px;
  padding-right: 18.16px;
  font-family: var(--montserrat);
  font-size: clamp(1.25rem, 0.5267857142857144rem + 0.8035714285714285vw, 1.8125rem);; 
  font-weight: 500;
  line-height: 113.9%;
  letter-spacing: -4%;
  color: #979797; 
}

.serv-video {
  flex-shrink: 0; 
  width: 7%; 
  height: 7%; 
}

.serv-video img {
  width: 100%;
  height: 100%;
}

.play-btn img{
width: 2vh;
    height: 2vh;
    position: absolute;
    z-index: 10;
    transform: translate(4vh, -6vh);
  cursor: pointer;
}

.services-cards-wrapper {
  display: flex; 
  gap: 1vh; 
  padding: 0px; 
  padding-top: 1vh;
}

.card {
  background: #000000;
  border-radius: 1vh;
  overflow: hidden;
  width: 33%; 
  height: 50vh;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  opacity: 0;
  transform: translateY(40px);
  transition: 
    opacity 0.6s ease,
    transform 0.6s ease;
  will-change: opacity, transform;
}

.card:hover {
  transform: translateY(px); 
}

.card-header {
    font-size: 14px;
  display: flex;
  align-items: center;
  padding: 1vh 1vh;
  color: white;
  gap: 2px;
  background-color: #2D2D2D;
  border-radius: 10px;
  transition: backgroundcolor 0.6s ease;
}

.card-header:hover {
  background-color: #FFFFFF;
}

.card-header:hover .arrow-icon-2 {
  background-color: #000000;
}

.zagolovok {
font-size: clamp(2.5rem, 0.1696428571428572rem + 2.589285714285714vw, 4.3125rem);
    font-family: var(--montserrat);
    color: #FFFFFF;
    line-height: 113.9%;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 3vh;
}

.card-title {
  display: flex; /* делаем flex-контейнер для выравнивания текста и стрелки */
  align-items: center; /* центрируем элементы по вертикали */
  justify-content: space-between; /* распределяем текст и стрелку по краям */
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
    padding: 3.7px 2.59px;
    border-radius: 23.5px;
  font-family: var(--krona);
  font-size: clamp(0.875rem, 0.1517857142857144rem + 0.8035714285714285vw, 1.4375rem);;
  font-weight: 400;
  line-height: 113.9%;
}

.btn-cont-1 {
  height: 8vh;
  margin-bottom: 3vh;
}

.komp-button {
display: flex;
    flex-wrap: wrap;
    width: 14.58vw;
}

.komplect-btn {
  line-height: 113.9%;
  font-family: var(--krona);
  text-decoration: none;
  color: #2D2D2D;
  font-weight: 500;
  font-size: clamp(0.75rem, 0.026785714285714413rem + 0.8035714285714285vw, 1.3125rem);;
  padding: 5px 10px;
  background-color: #FFFFFF;
  border-radius: 23.5px;
  margin-right: 3px;
  margin-bottom: 5px;
  cursor: default;
}

.tooltip {
  font-family: var(--montserrat);
  font-weight:medium;
  line-height: 111%;
  letter-spacing: -3%;
  position: fixed;
  background-color: #2D2D2D;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  max-width: 270px;
  z-index: 10;
  pointer-events: none; /* Чтобы не мешала кликам */
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.05);
}

/* Видимая подсказка */
.tooltip.show {
  opacity: 1;
}

.card-desc {
    width: 18vw;
    height: 8vh;
    vertical-align: top;
    font-family: var(--montserrat);
    font-size: clamp(0.9375rem, 0.2142857142857144rem + 0.8035714285714285vw, 1.5rem);
    color: #FFFFFF;
    line-height: 113.9%;
    letter-spacing: -4%;
    font-weight: 500;
    margin-bottom: 3vh;
}

.card-price {
    font-family: var(--montserrat);
    font-size: clamp(1.125rem, 0.4017857142857144rem + 0.8035714285714285vw, 1.6875rem);
    color: #FFFFFF;
    line-height: 113.9%;
    letter-spacing: -3%;
    font-weight: 600;
    margin-bottom: 3vh;
}

.card-title span {
  background-color: #000000;
  border-radius: 23.5px;
  padding: 4px 15px;
}

.icon-wrap {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:0.7vh;            
  box-sizing:border-box;    
  background:#2D2D2D;
  border:1px solid #FFFFFF;
  border-radius:50%;
}

.card-header:hover .icon-wrap {
  background-color: #000000;
}

.icon-wrap .arrow-icon-2{
  display:block;
  width:10px;               
  height:auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  height: 100%;
    width: 100%;
    font-family: var(--montserrat);
  padding: 1vh 0vh 2vh 2vh;
  font-size: 13px;
  color: #828282;
  line-height: 136%;
}

.price-mot {
  font-family: var(--montserrat);
  font-size: clamp(1.125rem, 0.4017857142857144rem + 0.8035714285714285vw, 1.6875rem);
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 400;
  display: flex; /* делаем flex-контейнер для выравнивания текста и стрелки */
  align-items: center; /* центрируем элементы по вертикали */
  justify-content: space-between; /* распределяем текст и стрелку по краям */
  padding-left: 1vw;
  background: transparent; /* фон прозрачный, как на скрине */
  border: 1px solid #FFFFFF; /* обводка кнопки */
  border-radius: 2.5vh; /* скругление углов */
  text-decoration: none; /* убираем подчёркивание ссылки */
  color: #FFFFFF; /* цвет текста */
  width: 22vw; /* занимает всю доступную ширину */
  box-sizing: border-box; /* включаем отступы в ширину элемента */
  cursor: pointer; /* курсор "рука" при наведении */
}

.card-1-wrap {
display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 1vh;
    box-sizing: border-box;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.arrow-icon {
display: block;
    width: 2vh;
    height: auto;
}

.services-container {
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 0 auto; /* Центрируем контейнер */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  gap: 0.8vh; /* Отступы между карточками */
  margin-top: 0.8vh;
}

.design {
      position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.card-2 {
  padding-top: 0px;
  width: 100%;
  height: 15vh;
  background-color: #F6F6F8;
  border-radius: 1vh;
  text-align: left;
    opacity: 0;
  transform: translateY(30px);
  transition: 
    opacity 1s ease,
    transform 1s cubic-bezier(0.2, 0, 0.3, 1);
}

.card-2.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.zag-bl2 {
  padding-top: 0.8vh;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  padding-bottom: 1vh;
}

.zag-bl2 h3 {
  width: 16vw;
  font-family: var(--montserrat);
  font-size: clamp(1.25rem, 0.5267857142857144rem + 0.8035714285714285vw, 1.8125rem);;
  color: #2D2D2D;
  font-weight: 500;
  line-height: 113.9%;
  letter-spacing: -4%;
  margin-right: 6.8vw;
}

.zag-bl2 p {
  font-family: var(--montserrat);
  font-size: clamp(1rem, 0.2767857142857144rem + 0.8035714285714285vw, 1.5625rem);;
  font-weight: 500;
  line-height: 113.9%;
  letter-spacing: -4%;
  color: #2D2D2D;
  display: inline-block;   
  width: 6vw;             
  text-align: left;        
  white-space: nowrap;
  margin-right: 2.1vw;
}

.zag-bl2-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7vh;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #2D2D2D;
    border-radius: 50%;
    margin-right: 4vh;
}

.zag-bl2 img {
    display: block;
    width: 1vh;
    height: auto;
}

.desc-bl2 {
  padding-left: 1vw;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-bottom: 200px;  
}

.desc-bl2 p {
  font-family: var(--montserrat);
  font-size: clamp(0.8125rem, 0.08928571428571441rem + 0.8035714285714285vw, 1.375rem);;
  color: #ADADAF;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 400;
  width: 12vw;
}

.desc-bl2 span {
  font-family: var(--montserrat);
  font-size: clamp(1.125rem, 0.4017857142857144rem + 0.8035714285714285vw, 1.6875rem);;
  color: #2D2D2D;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  padding-top: 1.5vh;
  display: inline-block;   
  width: 20vh;             
  text-align: right;        
  white-space: nowrap;
  margin-right: 4vh;
}

.card-3 {
  margin-top: 8px;
  padding-top: 0px;
  width: 100%;
  height: 15vh;
  background-color: #F6F6F8;
  border-radius: 1vh;
  text-align: left;
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.8s ease,
    transform 0.8s cubic-bezier(0.2, 0, 0.3, 1);
}

.card-3.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.zag-bl3 {
    padding-top: 0.8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1vh;
}

.zag-bl3 h3 {
    width: 16vw;
    font-family: var(--montserrat);
    font-size: clamp(1.25rem, 0.5267857142857144rem + 0.8035714285714285vw, 1.8125rem);
    color: #2D2D2D;
    font-weight: 500;
    line-height: 113.9%;
    letter-spacing: -4%;
    margin-right: 4vw;
}

.zag-bl3 p {
    font-family: var(--montserrat);
    font-size: clamp(1rem, 0.2767857142857144rem + 0.8035714285714285vw, 1.5625rem);
    font-weight: 500;
    line-height: 113.9%;
    letter-spacing: -4%;
    color: #2D2D2D;
    display: inline-block;
    width: 6vw;
    text-align: left;
    white-space: nowrap;
    margin-right: 41vw;
}

.zag-bl3 img {
    display: block;
    width: 1vh;
    height: auto;
}

.desc-bl3 {
    padding-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 200px;
}

.desc-bl3 p {
    font-family: var(--montserrat);
    font-size: clamp(0.8125rem, 0.08928571428571441rem + 0.8035714285714285vw, 1.375rem);
    color: #ADADAF;
    line-height: 113.9%;
    letter-spacing: -4%;
    font-weight: 400;
    width: 12vw;
}

.opisanie-bl3 {
  width: 32vw;
  font-family: var(--montserrat);
  font-size: clamp(0.8125rem, 0.08928571428571441rem + 0.8035714285714285vw, 1.375rem);
  color: #2D2D2D;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 400;
}

.desc-bl3 span {
    font-family: var(--montserrat);
    font-size: clamp(1.125rem, 0.4017857142857144rem + 0.8035714285714285vw, 1.6875rem);
    color: #2D2D2D;
    line-height: 113.9%;
    letter-spacing: -3%;
    font-weight: 600;
    padding-top: 1.5vh;
    display: inline-block;
    width: 20vh;
    text-align: right;
    white-space: nowrap;
    margin-right: 4vh;
}

.motion-cards-wrapper {
  display: flex; 
  gap: 11px; 
  padding: 0px; 
  padding-top: 8px;
}

.card-mot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  background: #F6F6F8;
  border-radius: 1vh;
  overflow: hidden;
  width: 100%; 
  height: 36vh;
  display: flex; 
  flex-direction: column; 
    transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
    opacity: 0;
  transform: translateY(40px);
  transition: 
    opacity 0.6s ease,
    transform 0.6s ease;
  will-change: opacity, transform;
}

.card-header-mot {
  height: 5vh;
    font-size: 14px;
  display: flex;
  align-items: start;
padding-left: 2vh;
padding-bottom: 4vh;
  color: #2D2D2D;
  border-radius: 10px;
}

.card-title-mot {
  width: 18vw;
    border-radius: 23.5px;
  font-family: var(--montserrat);
  font-size: clamp(1.25rem, 0.2857142857142857rem + 1.0714285714285714vw, 2rem);
  color: #2D2D2D;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 500;
}

.card-content-mot {
    width: 16.4vw;
    font-family: var(--montserrat);
    letter-spacing: -4%;
    font-weight: 500;
  padding: 2vh;
  font-size: 13px;
  color: #2D2D2D;
  line-height: 136%;
}

.card-content-mot p {
      line-height: 113.9%;
    letter-spacing: -4%;
  font-size: clamp(0.8125rem, 0.08928571428571441rem + 0.8035714285714285vw, 1.375rem);;
  height: 5vh;
  margin-bottom: 5vh;
}

.card-content-mot span {
  font-family: var(--montserrat);
  font-size: clamp(1.125rem, 0.4017857142857144rem + 0.8035714285714285vw, 1.6875rem);;
  color: #2D2D2D;
  line-height: 113.9%;
  letter-spacing: -3%;
  font-weight: 600;
  margin-bottom: 8vh;
}

.price-mot-2 {
font-family: var(--montserrat);
    font-size: clamp(1.125rem, 0.4017857142857144rem + 0.8035714285714285vw, 1.6875rem);
    line-height: 113.9%;
    letter-spacing: -4%;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
    background: transparent;
    border: 1px solid #2D2D2D;
    border-radius: 2.5vh;
    text-decoration: none;
    color: #2D2D2D;
    width: 21vw;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 3vh;
}

.icon-mot-1 {
  transform: translateX(5.3vw);
  display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 1vh;
    box-sizing: border-box;
    border: 1px solid #2D2D2D;
    border-radius: 50%;
}

.icon-mot-2 {
  display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 1vh;
    box-sizing: border-box;

    border: 1px solid #FFFFFF;
    border-radius: 50%;
        border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 0;
}

.arrow-icon-3 {
display: block;
    width: 2vh;
    height: auto;
}

.arrow-icon-4 {
display: block;
    width: 2vh;
    height: auto;
    opacity: 0;
}

.card-mot:hover {
  background-color: #000000;
}

.card-mot:hover .card-title-mot {
  color: #FFFFFF;
}

.card-mot:hover .arrow-icon-4 {
  opacity: 1;
}

.card-mot:hover .arrow-icon-3 {
  opacity: 0;
}

.card-mot:hover .icon-mot-2 {
  opacity: 1;
}

.card-mot:hover .icon-mot-1 {
  opacity: 0;
}

.card-mot:hover .card-content-mot,
.card-mot:hover .card-content-mot span,
.card-mot:hover .price-mot-2 {
  color: #FFFFFF;
  border-color: #FFFFFF;
}






.right-static {
  position: fixed; 
  right: 0;
  top: 0;
  width: 27%;
  height: 100vh; 
  background-color: #D4D5DE;
  padding: 0px;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  gap: 20px; 
  padding-top: 13px; 
  padding-right: 19px;
}

.vertical-links {
  display: flex;
  flex-direction: column; 
}

.nav-link {
  font-size: clamp(0.8125rem, 0.08928571428571441rem + 0.8035714285714285vw, 1.375rem);
    font-family: var(--montserrat);
    line-height: 99.9%;
    letter-spacing: -5%;
    font-style: italic;
  font-weight: 600;
  color: #82838A; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2D2D2D; 
}

.nav-link.active {
  color: #2D2D2D; 
}

.telegram-link {
    font-family: var(--montserrat);
    font-size: clamp(0.875rem, 0.1517857142857144rem + 0.8035714285714285vw, 1.4375rem);;
    line-height: 113%;
  display: inline-flex;
  align-items: center;
  padding: 7px 13px; 
  border: 1px solid #2D2D2D; 
  border-radius: 23.5px; 
  background-color: #D4D5DE; 
  color: #2D2D2D; 
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.telegram-link:hover {
  background-color: #2D2D2D; 
  color: #FFFFFF; 
}

.right-static .logo-block {
  margin-left: 3vw;
  margin-top: 3vh; 
  margin-bottom: 20vh; 
}

.right-static .logo-block img {
  width: 19vw;
  height: 15vh;
}

.price-mot-3 {
  font-family: var(--montserrat);
  font-size: clamp(1.125rem, 0.4017857142857144rem + 0.8035714285714285vw, 1.6875rem);;
  line-height: 113.9%;
  letter-spacing: -4%;
  font-weight: 400;
  display: flex; /* делаем flex-контейнер для выравнивания текста и стрелки */
  align-items: center; /* центрируем элементы по вертикали */
  justify-content: space-between; /* распределяем текст и стрелку по краям */
  padding-left: 1vw;
  background: transparent; /* фон прозрачный, как на скрине */
  border: 1px solid #2D2D2D; /* обводка кнопки */
  border-radius: 3vh; /* скругление углов */
  text-decoration: none; /* убираем подчёркивание ссылки */
  color: #2D2D2D; /* цвет текста */
  width: 19vw; /* занимает всю доступную ширину */
  box-sizing: border-box; /* включаем отступы в ширину элемента */
  cursor: pointer; /* курсор "рука" при наведении */
  margin-left: 3vw;
}

.icon-wrap .arrow-icon-2{
  display:block;
  width:16px;               
  height:auto;
}

.icon-wrap-2 {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:2vh 2vh;            
  box-sizing:border-box;    
  border:1px solid #2D2D2D;
  border-radius:50%;
  margin-left: 10%;
}

.contact-block {
  font-family: var(--krona);
  text-align:left;
  margin-top: 3vh;
  margin-left: 3vw;
}

.social-btn {
  line-height: 113.9%;
  text-decoration: none;
  font-family: var(--krona);
  color: #FFFFFF;
  padding: 1.5vh 3vh;
  background: #2D2D2D;
  border-radius: 2vh;
  font-size: clamp(0.75rem, 0.026785714285714413rem + 0.8035714285714285vw, 1.3125rem);;
  cursor: pointer;
  margin-right: 0.5vh;
  transition: 
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.2s ease;
}

.social-btn-1-2 {
  line-height: 113.9%;
  text-decoration: none;
  font-family: var(--krona);
  color: #FFFFFF;
  padding: 1.5vh 3.6vh;
  background: #2D2D2D;
  border-radius: 2vh;
  font-size: clamp(0.75rem, 0.026785714285714413rem + 0.8035714285714285vw, 1.3125rem);;
  cursor: pointer;
  margin: 0;
  transition: 
    color 0.3s ease,
    background-color 0.3s ease,
    transform 0.2s ease;
}

.social-btn:hover {
  background-color: #FFFFFF;
  color: #2D2D2D;
}

.social-btn-1-2:hover {
  background-color: #FFFFFF;
  color: #2D2D2D;
}



.footer {
  width: 100%;
  height: 75vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  position: relative;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.top-section {
  height: 36vh;
  text-align: center; 
  margin-bottom: 20vh;
}

.small-text {
    display: inline-block;
    width: 11vw;
    text-align: center;
    font-family: var(--montserrat);
  font-size: clamp(0.9375rem, 0.2142857142857144rem + 0.8035714285714285vw, 1.5rem);
  letter-spacing: -4%;
  color: #8E8E8E;
  line-height: 113.9%;
  margin-bottom: 2vh;
}

.actions {
    letter-spacing: -4%;
    line-height: 99%;
    font-family: var(--montserrat);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: clamp(4rem, 1.6696428571428572rem + 2.589285714285714vw, 5.8125rem);;
  font-weight: 600;
}

.action {
  position: relative;
  display: block;
  width: fit-content;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.action::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; 
  height: 2px; 
  background-color: #FFFFFF; 
  transition: width 0.3s ease-in-out; 
}

.action:hover::after {
  width: 100%;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0;
}

.logo {
  transition: transform 0.3s ease, 0.3s ease;
  margin-left: 2vh;
    height: 7vh;
    width: 9vh;
}

.logo:hover {
  transform: scale(1.2);
}

.vertical-links-2 {
  display: flex;
  flex-direction: column; 
  margin-bottom: 2vh;
  margin-left: 80vh;
}

.nav-link-2 {
  font-size: clamp(0.8125rem, 0.08928571428571441rem + 0.8035714285714285vw, 1.375rem);
  font-family: var(--montserrat);
  line-height: 99.9%;
  letter-spacing: -5%;
  font-style: italic;
  font-weight: 600;
  color: #82838A; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link-2:hover {
  color: #FFFFFF; 
}

.nav-link-2.active {
  color: #FFFFFF; 
}

.right-block {
  margin: 0;
 height: 32px;
}

.telegram-link-2 {
    font-family: var(--montserrat);
    font-size: clamp(0.875rem, 0.1517857142857144rem + 0.8035714285714285vw, 1.4375rem);
    line-height: 113%;
  display: inline-flex;
  align-items: flex-end;
  padding: 7px 13px; 
  border: 1px solid #FFFFFF; 
  border-radius: 23.5px; 
  background-color: #000000; 
  color: #FFFFFF; 
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 2vh;
}

.telegram-link-2:hover {
  background-color: #FFFFFF; 
  color: #2D2D2D; 
}


@media (max-width: 1920px) {
  .twokie-block p {
    margin-bottom: 5vh;
    width: 65vw;
  }
}